$fullWidth: 100%;
$padding : 25px;
table {
  width: $fullWidth;
}

.mat-form-field {
  font-size: 14px;
  width: $fullWidth;
}

th.mat-sort-header-sorted {
  color: black;
}

.check-box-padding {
  padding-right: $padding;
}

.custome-padding {
  padding-left: $padding
}


.spinner-styles {
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-snak-custom {
  color: hotpink;
}
.mat-button-toggle-group, .mat-button-toggle-standalone{
  box-shadow: none;
}
.mat-header-cell{
  color:black;
  font-size:1.2em;
}